@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}
:root{
    --color-bg: 
}
html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f2f2f2;
    color: #33323D;
}
a{
    cursor: pointer;
}
button{
    font-family: inherit;
    cursor: pointer;
}
/* Navaigation */
.navbar{
    display: flex;
    justify-content: space-between;
    margin: 64px 165px 0;
    font-size: 12px;
    font-weight: 700;
}
.navbar .menu{
    display: none;
}
.link{
    color: #33323D;
}
.link-active{
    color: #5FB4A2;
}
.navbar .nav{
    display: flex;
    gap: 42px;
}
/* Footer */
.footer{
    background-color: #33323D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 165px;
}
.footer .nav{
    display: flex;
    align-items: center;
    gap: 48px;
}
.footer .navlink{
    display: flex;
    gap: 42px;
}
.footer .link{
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
}
.footer .socials{
    display: flex;
    gap: 15px;
    color: #ffffff;
}
.footer .socials a{
    color: #ffffff;
}


@media all and (max-width:650px){
    #root{
        overflow-x: hidden;
       position: relative;
    }
    /* Navbar */
    .navbar{ 
        margin: 32px 32px 0;
    }
    .navbar .menu{
        display: block;
    }
    .link, .link-active{
        color: #fff;
    }
    .navbar .nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #33323D;
        font-weight: 400;
        gap: 32px;
        padding: 40px 65px;
        position: absolute;
        right: -250px;
        top: 88px;
        transition: all 3ms;
        z-index: 10;
    }
    .navbar .nav.navshow{
        right: 32px;
        transition: all 1s;
    }

    /* Footer */
    .footer{
        background-color: #33323D;
        flex-direction: column;
        gap: 32px;
        align-items: center;
        padding: 56px 135px;
    }
    .footer .nav{
        flex-direction: column;
        gap: 32px;
    }
    .footer .navlink{
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }
    .footer .link{
        font-weight: 400;
    }
}